section.product-list-2.main-section
	.container
		h2.main-title Calamus Collection
		.list-wrapper
			.list-item-2
				- for(i=0;i<4;i++)
					.item
						.image
							img(src="./img/3.png", alt="")
						.content
							p.name-title May bed A1
							a(href="#") See detail
			.image-collection
				img(src="./img/2.png", alt="")
		.list-item
			- for(i=0;i<10;i++)
				.item
					.image
						img(src="./img/3.png", alt="")
					.content
						p.name-title May bed A1
						a(href="#") See detail
